<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luditetechnologies.comicbookchecklist" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".core.ComicBookChecklist_Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".UI.Dashboard"
            android:label="@string/DashboardName" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.AddPublishersActivity"
            android:label="@string/UploadPublishers" />
        <activity
            android:name=".UI.AddTitlesActivity"
            android:label="@string/UploadTitlesName" />
        <activity
            android:name=".UI.PublisherTest"
            android:label="@string/test_publishers" >
        </activity>
        <activity
            android:name=".UI.TitleTest"
            android:label="@string/test_titles" >
        </activity>
        <activity
            android:name=".UI.TitleTestBatman"
            android:label="@string/title_activity_test_batman_title" >
        </activity>
        <activity
            android:name=".UI.TitleTestSpiderman"
            android:label="@string/title_activity_test_spiderman_title" >
        </activity>
        <activity
            android:name=".UI.TitleTestAny"
            android:label="@string/title_activity_title_test_any" >
        </activity>
        <activity
            android:name=".UI.activity_marvel_test"
            android:label="@string/title_activity_activity_marvel_test" >
        </activity>
        <activity
            android:name=".UI.SingleItemView_Marvel_Character"
            android:label="@string/title_activity_single_item_view_marvel_character" >
        </activity>
    </application>

</manifest>
